.section__feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  padding-bottom: 30px;
}

.feature__box-icon {
  margin-bottom: 30px;
  padding: 25px 190px 25px 190px;
  width: 450px;
  height: 120px;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature__box-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}
