.section__hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .section__hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section__hero-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/solution-mob.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__hero-img {
    background-image: url('../images/solution-tab.jpg');
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .section__hero-img {
    background-image: url('../images/solution.jpg');
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-fone-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
