.title__work,
.title__command,
.title__сlients {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title__work,
  .title__command,
  .title__сlients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.title__feature,
.title__social,
.title__subscription {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title__feature {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .title__feature,
  .title__social,
  .title__subscription {
    text-align: left;
  }
}

.command__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.title__social-color,
.title__subscription-color {
  color: var(--primary-fone-color);
}
